/* spellr/web/src/Reading.css */
.word-boxes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%; /* Ensure the boxes span the whole page */
  }
  
  .word-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px;
    color: #000;
    font-size: 24px;
    font-weight: bold;
  }
  
  .word-box:hover {
    background-color: #f2f2f2;
  }
  
  .word-box.selected {
    background-color: #d2e8ff;
  }
  
  .sentences {
    margin-top: 20px;
  }
  